.grid {
    display: grid;
    height: 100vh;
    grid-template: 86px auto 128px / repeat(12, 1fr);
    grid-template-areas: "h h h h h h h h h h h h" "m m m m m m m m m m m m" "f f f f f f f f f f f f";
}

.facebook-icon {
    background-image: url('../assets/icons/facebook.svg');
}

.twitter-icon {
    background-image: url('../assets/icons/twitter.svg');
}

.instagram-icon {
    background-image: url('../assets/icons/instagram.svg');
}

.menu-icon {
    background-image: url('../assets/icons/menu.svg');
}

.icon {
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 0 .4rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}