.grid {
    display: grid;
    height: 100vh;
    grid-template: 64px auto 128px / repeat(12, 1fr);
    grid-template-areas: "h h h h h h h h h h h h" "m m m m m m m m m m m m" "f f f f f f f f f f f f";
}

.facebook-icon {
    background-image: url('../assets/icons/facebook.svg');
}

.twitter-icon {
    background-image: url('../assets/icons/twitter.svg');
}

.instagram-icon {
    background-image: url('../assets/icons/instagram.svg');
}