.header {
    grid-area: h;
}

.nav {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}

.nav .nav-right {
    display: flex;
    align-items: center;
}

.nav .link {
    color: rgba(0, 0, 0, .8);
    padding: 0 1rem;
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif;
}


.nav .nav-right .link {
    display: none;
}

@media(min-width: 992px) {
    .nav .nav-right .link {
        display: block;
    }
}

@media(min-width: 992px) {
    .nav .nav-right .menu-icon {
        display: none;
    }
}

.nav .nav-right .vertical-break {
    display: none;
    width: 1px;
    height: 24px;
    background-color: #027791;
    margin: 0 1rem;
}

@media(min-width: 992px) {
    .nav .nav-right .vertical-break {
        display: block;
    }
}