.nav {
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    grid-area: h;
}

.nav .link {
    color: rgba(0, 0, 0, .8);
    padding: 0 1rem;
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif;
}